*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Rajdhani', sans-serif;
}

body {
    width: 100%;
    height:100vh;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
    background: white;
    overflow: hidden !important;
}
.wrapper{
    overflow: hidden !important;
    height: 100vh;
}
.wave1,.wave2,.wave3{
    background: rgb(251,121,41);
    background: linear-gradient(90deg, rgba(251,121,41,0.8184407552083334) 0%, rgba(251,121,41,0.5635387944240196) 24%, rgba(140,82,255,0.9192810913427871) 71%);
}
.wave1 {
    width: 750px;
    height: 775px;
    position: absolute;
    bottom: -15%;
    right: -20%;
    margin-left: -100px;
    margin-bottom: -500px;
    border-radius: 35%;
    animation: wave 15s infinite linear;
}
.wave2 {
    width: 800px;
    height: 825px;
    position: absolute;
    bottom: -15%;
    left: -30%;
    margin-left: -100px;
    margin-bottom: -500px;
    border-radius: 35%;
    animation: wave 15s infinite linear;
}
.wave3 {
    width: 400px;
    height: 425px;
    position: absolute;
    top: -45%;
    left: 20%;
    margin-left: -100px;
    margin-bottom: -500px;
    border-radius: 35%;
    animation: wave 15s infinite linear;
}

@keyframes wave {
    from { transform: rotate(0deg);}
    from { transform: rotate(360deg);}
}
.mfcicon{
    width: 8%;
    float: right;
    margin: 20px;
}
.mozcode{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
}
.mozcode img{
    width: 100%;
    margin: 0 auto;
}
.mozcode h2{
    text-align: center;
    color: rgb(48, 46, 46);
    font-size: 36px;
    margin-top: -20px;
}

@media only screen and (max-width: 1000px){
    .wave1{
        right: -60%;
        bottom: -5%;
    }
    .wave2{
        left: -60%;
        bottom: -5%;
    }
    .wave3{
        top: -20%;
        left: -10%;
    }
    .mfcicon{
        width: 12%;
        height: 10%;
    } 
}

@media only screen and (max-width: 600px){
    body{
        max-height: 100vh !important;
        overflow-y: hidden !important;
    }
    .wave2{
        display: none;
    }
    .wave3{
        width: 750px;
        height: 775px;
        top: -100%;
        left: -20%;
    }
    .wave1{
        width: 700px;
        height: 700px;
        position: absolute;
        bottom: -20%;
        margin-left: -100px;
        margin-bottom: -400px;
        border-radius: 35%;
        animation: wave 15s infinite linear;
    }
    .mfcicon{
        width: 30%;
        margin: 20vh 35%;
        height: 20%;
    }
    .mozcode img{
        height: 80px;
        width: 260px;
    }
    .mozcode h2{
        text-align: center;
        color: rgb(48, 46, 46);
        font-size: 24px;
        margin-top: -20px;
    }
    .wrapper{
        max-height: 100vh;
    }
}

@media only screen and (max-width: 380px){
    .wave3{
        top:-90%;
    }
    .wave1{
        bottom:-35%;
    }
}